@import "../../styles/variables";

$filter-background: $clgt3; // transparent

.filterSelectors{
  background-color: $filter-background;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;

  .filterUnit{
    .select {
      width: auto;
    }
  }
}