.crud-form{
  margin: 0 2em;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3em;

  * {
    display: inline-block;
  }
  div {
    display: flex;
    label {
      margin-right: 0.5em;
    }
    input{
      flex-grow: 1;
    }
    p{
      font-style: italic;
      margin-left: 0.5em;
    }
  }

  .buttons{
    display: flex;
    gap: 0.5em;
    * {
      padding: 0.5em;
      flex-grow: 1;
    }
  }
}